<!doctype html>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/select_style.js"></script>
<title>Art Style Transfer</title>

<h1>Upload picture to style</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>

<h1>Example Artworks</h1>

  <div style="height:400px;width:400px">
    <img src="static/uploads/ok.jpg" style="height:100%;width:100%;">
  </div>
  <div style="height:200px;width:400px;padding:20px">
    <img src="static/uploads/garret.jpg" style="height:100%;width:40%;margin-right:10px">
          <img src="static/uploads/vangoh.jpg" style="height:100%;width:40%;">
  </div>
  <div style="width:80%">
      <h3 style="width:30%">Style</h3>
        <h3 style="width:30%">Content</h3>
      <h3 style="width:30%">Generated</h3>
  </div>

  <div style="height:400px;width:1400px">
    <img id="image1" src="static/uploads/star.jpg" style="height:90%;width:30%;">
      <img src="static/uploads/sf_bridge.jpg" style="height:90%;width:30%;">
      <img src="static/uploads/ok.jpg" style="height:90%;width:30%;">
  </div>
  <div style="height:300px;width:300px" align="center">
    <img src="static/uploads/sf_bridge.jpg" style="width:100%;">
  </div>

