<!DOCTYPE html>
<html>
<head>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/test.js"></script>
             <script type="text/javascript">
            var username = {{ data.dd }}
            var site = {{ data.dd }}
            console.log(site)
        </script>
</head>
<body>
<form action="">
  Name: <input type="text" name="user"><br>
  Password: <input type="password" name="password"><br>
  Compatible: <input type="image" src="/static/uploads/ok.jpg" width="31" height="30">
</form>

</body>
</html>
